* {font-family: 'Chicle', cursive;}
body {width: 1920px;height: 1080px;}
.header {margin: auto;height: 220px;}
.right-sidebar {
	position: fixed;
    top: 45%;
    right: 0;
}
.e {
	display: none;
	width: 380px;
	height: 80px;
	background-size:  80px 80px !important;
}
.e>span {
	display: block;
    padding: 25px;
    background-color: rgba(0,0,0,0.8);
    width: 300px;
    height: 30px;
    margin-left: 80px;
    margin-top: 10px;
    color: white;
}
.p {display: none;}
.h {
    height: 37px;
    width: 431px;
}
.t {
	background-color: rgba(0,0,0,0.8);
	height: 130px;
	width: 431px;
	display: none;
}
.t p {
	color: #d4d4d4;
	margin: 0;
	padding: 10px;
}
.t p:not(:last-child) {border-bottom: 1px solid #1d1b1b;}
.t p span {
	float: right;
}

.t p span i {
	font-size: 13px;
}
.f {
    height: 50px;
    width: 431px;
}
.b {position: fixed;}
.b1 {left: 150px;}
.b2 {left: calc((1920px - 431px)/2)}
.b3 {right: 150px;}

.e1 {
	background: url('/assets/images/event_1.png') no-repeat;
}
.e2 {
	background: url('/assets/images/event_2.png') no-repeat;
}
.e3 {
	background: url('/assets/images/event_3.png') no-repeat;
}
.h1 {
	background: url('/assets/images/header_1.png') no-repeat;
}
.h2 {
	background: url('/assets/images/header_2.png') no-repeat;
}
.h3 {
	background: url('/assets/images/header_3.png') no-repeat;
}
.h4 {
	background: url('/assets/images/header_4.png') no-repeat;
}
.h5 {
	background: url('/assets/images/header_5.png') no-repeat;
}
.h6 {
	background: url('/assets/images/header_6.png') no-repeat;
}

.f1 {
	background: url('/assets/images/footer_1.png') no-repeat;
}
.f2 {
	background: url('/assets/images/footer_2.png') no-repeat;
}
.f3 {
	background: url('/assets/images/footer_3.png') no-repeat;
}
.f4 {
	background: url('/assets/images/footer_4.png') no-repeat;
}
.f5 {
	background: url('/assets/images/footer_5.png') no-repeat;
}
.f6 {
	background: url('/assets/images/footer_6.png') no-repeat;
}